.left_icon {
    color: orange;
    font-size: 100px;
    position: absolute;
    z-index: 10;
}

.right_icon {
    color: blue;
    font-size: 100px;
}

.bell {
    border: 8px solid transparent;
}

.note1 {
    border-color: red;
}

.note2 {
    border-color: darkorange;
}

.note3 {
    border-color: gold;
}

.note4 {
    border-color: lightseagreen;
}

.note5 {
    border-color: deepskyblue;
}

.note6 {
    border-color: blue;
}

.note7 {
    border-color: blueviolet;
}

.note0 {
    border-color: magenta;
}

body:not(.answersShow) .bell {
    border-color: transparent;
}
