/* Note: the color gradient of the bells is handled in the svg component in bell.tsx */

.draggableBell {
    position: absolute;
    z-index: 10;
}

.note1 {
    --bell-color: red;
}

.note2 {
    --bell-color: darkorange;
}

.note3 {
    --bell-color: gold;
}

.note4 {
    --bell-color: lightseagreen;
}

.note5 {
    --bell-color: deepskyblue;
}

.note6 {
    --bell-color: blue;
}

.note7 {
    --bell-color: blueviolet;
}

.note0 {
    --bell-color: magenta;
}

svg {
    width: 120px;
    height: 120px;
    filter: drop-shadow( 5px 5px 3px rgba(0, 0, 0, .5));
}

body.answersShow svg path {
    /* The stroke property in css is for adding a border to svg shapes */
    stroke-width: 30px;
    stroke: var(--bell-color);
}
