.left_icon {
    color: orange;
    font-size: 100px;
    position: absolute;
    z-index: 10;
}

.right_icon {
    color: blue;
    font-size: 100px;
}

.answersShow .bell {
    border: 10px solid green;
}
